<!DOCTYPE html>
<html lang="zh" id="equeue" ng-app="equeue">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EQueue - @ViewBag.ClusterName - @ViewBag.BrokerName - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/content/bootstrap/css/bootstrap.min.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/content/bootstrap/css/bootstrap-theme.min.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/content/site.css")" />
    <script type="text/javascript" src="@Url.Content("~/content/jquery/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/angularjs/angular.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/bootbox/bootbox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/js/site.js")"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("首页", "Index", "Home", null, new { @class = "navbar-brand" })
                @Html.ActionLink("BROKER列表", "BrokerList", "Home", new { clusterName = @ViewBag.ClusterName }, new { @class = "navbar-brand" })
                @Html.ActionLink("基本信息", "Index", "Broker", new { clusterName = @ViewBag.ClusterName, brokerName = @ViewBag.BrokerName }, new { @class = "navbar-brand" })
                @Html.ActionLink("队列信息", "QueueInfoList", "Broker", new { clusterName = @ViewBag.ClusterName, brokerName = @ViewBag.BrokerName }, new { @class = "navbar-brand" })
                @Html.ActionLink("消费信息", "ConsumeInfoList", "Broker", new { clusterName = @ViewBag.ClusterName, brokerName = @ViewBag.BrokerName }, new { @class = "navbar-brand" })
                @Html.ActionLink("生产者列表", "ProducerList", "Broker", new { clusterName = @ViewBag.ClusterName, brokerName = @ViewBag.BrokerName }, new { @class = "navbar-brand" })
                @Html.ActionLink("消费者列表", "ConsumerList", "Broker", new { clusterName = @ViewBag.ClusterName, brokerName = @ViewBag.BrokerName }, new { @class = "navbar-brand" })
                @Html.ActionLink("最近发送消息", "LatestSendMessages", "Broker", new { clusterName = @ViewBag.ClusterName, brokerName = @ViewBag.BrokerName }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center">&copy; @DateTime.Now.Year - EQueue Admin Console</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
