@model EQueue.AdminWeb.Models.BrokerStatisticInfoViewModel
@{
    ViewBag.Title = "Broker统计信息";
}

<div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">主题个数</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.TopicCount, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">队列个数</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.QueueCount, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">消费者组个数</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.ConsumerGroupCount, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">内存总消息数</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.InMemoryQueueMessageCount, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">未消费总消息数</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.UnConsumedQueueMessageCount, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">最大消息偏移量</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.CurrentMessageOffset, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">已持久化消息偏移量</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.PersistedMessageOffset, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">未持久化消息数</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.UnPersistedMessageCount, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">最小消息偏移量</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.MinMessageOffset, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
    </form>
    @using (Html.BeginForm("CreateTopic", "Home", new { }, FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        <div class="form-group">
            <label class="sr-only" for="topic"></label>
            <input id="topic" name="topic" type="text" class="form-control" placeholder="Topic" />
        </div>
        <div class="form-group">
            <label class="sr-only" for="initialQueueCount"></label>
            <input id="initialQueueCount" name="initialQueueCount" type="text" class="form-control" placeholder="InitialQueueCount" />
        </div>
        <button type="submit" class="btn btn-default">创建主题</button>
    }
</div>
