@model EQueue.AdminWeb.Models.TopicQueueViewModel
@{
    ViewBag.Title = "队列基本信息";
}

<div>
    @using (Html.BeginForm("Index", "Home", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Topic, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Topic, new { @class = "form-control", @style = "display:inline-block" })
            <input type="submit" value="查询" class="btn btn-default" />
        </div>
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="30%" class="vertical-center">
                    Topic
                </th>
                <th width="15%" class="text-center vertical-center">
                    QueueId
                </th>
                <th width="15%" class="text-center vertical-center">
                    CurrentOffset
                </th>
                <th width="15%" class="text-center vertical-center">
                    ConsumedOffset
                </th>
                <th width="15%" class="text-center vertical-center">
                    MessageCount
                </th>
                <th width="10%" class="text-center vertical-center">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TopicQueueInfos)
            {
                <tr>
                    <td class="vertical-center">
                        @item.Topic
                    </td>
                    <td class="text-center vertical-center">
                        @item.QueueId
                    </td>
                    <td class="text-center vertical-center">
                        @item.QueueCurrentOffset
                    </td>
                    <td class="text-center vertical-center">
                        @item.QueueMaxConsumedOffset
                    </td>
                    <td class="text-center vertical-center">
                        @item.QueueMessageCount
                    </td>
                    <td class="text-center vertical-center">
                        @item.Status
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
