@model EQueue.AdminWeb.Models.MessageViewModel
@{
    ViewBag.Title = "Message";
}
<div>
    @using (Html.BeginForm("Message", "Home", new { }, FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        <div class="form-group">
            <label class="sr-only" for="ClusterName"></label>
            @Html.TextBoxFor(m => m.ClusterName, new { @class = "form-control", placeholder = "ClusterName" })
        </div>
        <div class="form-group">
            <label class="sr-only" for="SearchMessageId"></label>
            @Html.TextBoxFor(m => m.SearchMessageId, new { @class = "form-control", placeholder = "MessageId" })
        </div>
        <button type="submit" class="btn btn-default">查询</button>
    }
    <br />
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">MessageId</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.MessageId, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">ProducerAddress</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.ProducerAddress, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">BrokerAddress</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.BrokerAddress, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Topic</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Topic, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">QueueId</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.QueueId, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">QueueOffset</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.QueueOffset, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Code</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">CreatedTime</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.CreatedTime, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">StoredTime</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.StoredTime, new { @class = "form-control", @style = "display:inline-block", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Payload</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(m => m.Payload, new { @class = "form-control", @rows = "3", @disabled = "disabled" })
            </div>
        </div>
    </form>
</div>